
@charset "utf-8";
/* CSS Document */



 
/*弹出层*/
.black_overlay{ display: none; position: fixed; top: 0%; left: 0%; width: 100%;height: 100%; background-color: black;  z-index:99999; -moz-opacity: 0.6;  opacity:.60;  filter: alpha(opacity=66); } 
.white_content {display: none; position: absolute; top: 25%;left: 50%;width:393px; height: auto; border: 1px solid #56ADF6; background-color: white;z-index:999999;overflow: auto;margin-left: -196px;   background: url(../images/bg-dialog-nick.jpg) no-repeat scroll 0 0 #FFFFFF;} 
.white_content .text a{ font-size:20px;}

.ui_close {height: 22px; right: 10px; top: 13px; width: 10px; display: block; outline: medium none; position: absolute;}
.white_content .text h2{color: #565656;font-family: "microsoft yahei"; font-size: 18px; line-height: 60px; font-weight:normal; padding: 0 60px 0 15px;}
.download_main {overflow: hidden; padding: 10px 0; width:90%; margin:0 auto;}
.yxjt {overflow: hidden; padding: 10px 0; width:90%; margin:0 auto;}

.r-dialog-panel {display: none; padding: 10px; position: relative;}
.r-dialog-panel p {margin-bottom: 10px;}
.r-right {display: inline-block;text-align: right;width: 65px;}
.r-dialog-text-error {border-color: #EFB7BC;}
.r-dialog-text { background-color: #E9F8FF; border: 1px solid #D0DCDE; border-radius: 2px; color: #4E4E4C; font-size: 16px; padding: 5px; width: 214px;}
.ac {text-align: center;}
.btn-s-2 { margin-top: 5px;}

.star { color: #FFA300; font: 12px simsun; margin-right: 3px;}
.r-dialog-protocol { text-indent: 55px;}
.r-dialog { font-size: 14px;}
.btn-s-2 { color: #4E4E4C; font-size: 18px; height: 44px; line-height: 44px; width: 112px;}
.btn { background: url(../images/btn-nick.png) no-repeat; display: inline-block; font-size: 12px; overflow: hidden; text-align: center; vertical-align: middle;}