html,

body,

div,

span,

object,

iframe,

h1,

h2,

h3,

h4,

h5,

h6,

p,

blockquote,

pre,

abbr,

address,

cite,

code,

del,

dfn,

em,

img,

ins,

kbd,

q,

samp,

small,

strong,

sub,

sup,

var,

b,

i,

dl,

dt,

dd,

ol,

ul,

li,

fieldset,

form,

label,

legend,

table,

caption,

tbody,

tfoot,

thead,

tr,

th,

td,

article,

aside,

canvas,

details,

embed,

figure,

figcaption,

footer,

header,

hgroup,

menu,

nav,

ruby,

section,

summary,

time,

mark,

audio,

video {

  margin: 0;

  padding: 0;

  border: 0;

  font-weight: inherit;

  font-style: inherit;

  font-family: inherit;

  font-size: 100%;

  vertical-align: baseline;

}

ol,

ul {

  list-style: none;

}

ol li,

ul li {

  padding: 0;

  margin: 0;

}

table {

  border-collapse: collapse;

  vertical-align: middle;

}

caption,

th,

td {

  text-align: left;

  font-weight: normal;

  vertical-align: middle;

}

blockquote,

q {

  quotes: none;

}

blockquote:before,

blockquote:after,

q:before,

q:after {

  content: none;

}

body {

  line-height: 1;

}

audio:not([controls]) {

  display: none;

  height: 0;

}

template {

  display: none;

}

html {

  font-size: 100%;

  font-family: 'Microsoft Yahei', Arial, 'Helvetica Neue', sans-serif;

  -webkit-text-size-adjust: 100%;

  -ms-text-size-adjust: 100%;

}

a,

nav {

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-tap-highlight-color: transparent;

}

button,

input,

optgroup,

select,

textarea {

  font-weight: inherit;

  font-style: inherit;

  font-family: inherit;

  font-size: 100%;

  vertical-align: baseline;

  color: inherit;

  margin: 0;

}

button {

  overflow: visible;

}

button,

html input[type="button"],

input[type="reset"],

input[type="submit"] {

  -webkit-appearance: button;

}

input[type="checkbox"],

input[type="radio"] {

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  padding: 0;

}

input[type="number"]::-webkit-inner-spin-button,

input[type="number"]::-webkit-outer-spin-button {

  height: auto;

}

input[type="search"] {

  -webkit-appearance: textfield;

  -webkit-box-sizing: content-box;

  box-sizing: content-box;

}

input[type="search"]::-webkit-search-cancel-button,

input[type="search"]::-webkit-search-decoration {

  -webkit-appearance: none;

}

body {

  -webkit-font-smoothing: antialiased;

  background: #f2f2f2;

}

.ui-btn {

  vertical-align: top;

  text-decoration: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  text-align: center;

  position: relative;

  border-style: solid;

  -webkit-user-select: none;

      -ms-user-select: none;

          user-select: none;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;



  font-size: 1rem;

  padding: 0 12px;

  line-height: 42px;

  min-width: 44px;

  height: 44px;

  border-width: 1px;

  color: #90929a;

  border-color: #c2c3cb;

  background: transparent;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=block] {

  display: block;

}

.ui-btn:not([data-ui~=block]) {

  display: inline-block;

}

.ui-btn[disabled],

.ui-btn[data-ui~=disabled] {

  opacity: 0.5;

  pointer-events: none;

}

.ui-btn > [class^=icon-] {

  font-size: 20px;

  width: 20px;

  line-height: 42px;

}

.ui-btn[data-ui~=icon-left] {

  padding-left: 32px;

}

.ui-btn[data-ui~=icon-left] > [class^=icon-] {

  position: absolute;

  top: 0;

  left: 8px;

}

.ui-btn[data-ui~=icon-right] {

  padding-right: 32px;

}

.ui-btn[data-ui~=icon-right] > [class^=icon-] {

  position: absolute;

  top: 0;

  right: 8px;

}

.ui-btn[data-ui~=icon-only] {

  padding: 0;

  font-size: 0;

}

.ui-btn:active,

.ui-btn[data-ui~=active] {

  color: #90929a;

  border-color: #adaeb9;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=outlined] {

  background: transparent;

  color: #c2c3cb;

}

.ui-btn[data-ui~=outlined]:active,

.ui-btn[data-ui~=outlined][data-ui~=active] {

  background: #c2c3cb;

  color: #90929a;

}

.ui-btn[data-ui~=large] {

  font-size: 1.125rem;

  padding: 0 16px;

  line-height: 52px;

  min-width: 54px;

  height: 54px;

  border-width: 1px;

}

.ui-btn[data-ui~=large] > [class^=icon-] {

  font-size: 22px;

  width: 22px;

  line-height: 52px;

}

.ui-btn[data-ui~=large][data-ui~=icon-left] {

  padding-left: 38px;

}

.ui-btn[data-ui~=large][data-ui~=icon-left] > [class^=icon-] {

  position: absolute;

  top: 0;

  left: 10.666666666666666px;

}

.ui-btn[data-ui~=large][data-ui~=icon-right] {

  padding-right: 38px;

}

.ui-btn[data-ui~=large][data-ui~=icon-right] > [class^=icon-] {

  position: absolute;

  top: 0;

  right: 10.666666666666666px;

}

.ui-btn[data-ui~=large][data-ui~=icon-only] {

  padding: 0;

  font-size: 0;

}

.ui-btn[data-ui~=small] {

  font-size: 0.75rem;

  padding: 0 6px;

  line-height: 26px;

  min-width: 28px;

  height: 28px;

  border-width: 1px;

}

.ui-btn[data-ui~=small] > [class^=icon-] {

  font-size: 14px;

  width: 14px;

  line-height: 26px;

}

.ui-btn[data-ui~=small][data-ui~=icon-left] {

  padding-left: 20px;

}

.ui-btn[data-ui~=small][data-ui~=icon-left] > [class^=icon-] {

  position: absolute;

  top: 0;

  left: 4px;

}

.ui-btn[data-ui~=small][data-ui~=icon-right] {

  padding-right: 20px;

}

.ui-btn[data-ui~=small][data-ui~=icon-right] > [class^=icon-] {

  position: absolute;

  top: 0;

  right: 4px;

}

.ui-btn[data-ui~=small][data-ui~=icon-only] {

  padding: 0;

  font-size: 0;

}

.ui-btn[data-ui~=primary] {

  color: #fff;

  border-color: #145fd7;

  background: #4a87ee;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=primary]:active,

.ui-btn[data-ui~=primary][data-ui~=active] {

  color: #fff;

  border-color: #1256c1;

  background: #2d74eb;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=primary][data-ui~=outlined] {

  background: transparent;

  color: #145fd7;

}

.ui-btn[data-ui~=primary][data-ui~=outlined]:active,

.ui-btn[data-ui~=primary][data-ui~=outlined][data-ui~=active] {

  background: #145fd7;

  color: #fff;

}

.ui-btn[data-ui~=danger] {

  color:#333333;

  border:solid 1px #CFC5C5;

  background: #ffffff;

 display: block;
 font-family: 'Applied Font Regular', 'Applied Font';
  cursor: pointer;
}

.ui-btn[data-ui~=danger]:active,

.ui-btn[data-ui~=danger][data-ui~=active] {




  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=danger][data-ui~=outlined] {

  background: transparent;

  color: #cc2311;

}

.ui-btn[data-ui~=danger][data-ui~=outlined]:active,

.ui-btn[data-ui~=danger][data-ui~=outlined][data-ui~=active] {

  background: #cc2311;

  color: #fff;

}

.ui-btn[data-ui~=warning] {

  color: #fff;

  border-color: #d39211;

  background: #f0b840;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=warning]:active,

.ui-btn[data-ui~=warning][data-ui~=active] {

  color: #fff;

  border-color: #be830f;

  background: #eeae24;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=warning][data-ui~=outlined] {

  background: transparent;

  color: #d39211;

}

.ui-btn[data-ui~=warning][data-ui~=outlined]:active,

.ui-btn[data-ui~=warning][data-ui~=outlined][data-ui~=active] {

  background: #d39211;

  color: #fff;

}

.ui-btn[data-ui~=success] {

  color: #fff;

  border-color: #498f24;

  background: #6c3;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=success]:active,

.ui-btn[data-ui~=success][data-ui~=active] {

  color: #fff;

  border-color: #428120;

  background: #5cb82e;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=success][data-ui~=outlined] {

  background: transparent;

  color: #498f24;

}

.ui-btn[data-ui~=success][data-ui~=outlined]:active,

.ui-btn[data-ui~=success][data-ui~=outlined][data-ui~=active] {

  background: #498f24;

  color: #fff;

}

.ui-btn:active,

.ui-btn[data-ui~=active] {

  -webkit-transition: all 0.4s;

          transition: all 0.4s;

}

.ui-btn[data-ui~=blend] {

  color: inherit;

  border-color: transparent;

  background: transparent;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=blend]:active,

.ui-btn[data-ui~=blend][data-ui~=active] {

  color: inherit;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-btn[data-ui~=blend]:active,

.ui-btn[data-ui~=blend][data-ui~=active] {

  color: #fff;

  border-color: #adaeb9;

  background: #adaeb9;

}

.ui-btns {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  width: 100%;

}

.ui-btns > .ui-btn {

  -webkit-box-flex: 1;

  -webkit-flex: 1;

      -ms-flex: 1;

          flex: 1;

  display: block;

  border-radius: 0;

  margin-right: -1px;

}

.ui-btns > .ui-btn:last-child {

  margin-right: 0;

}

.ui-btns > .ui-btn:active,

.ui-btns > .ui-btn[data-ui~=active] {

  z-index: 1;

}

.ui-btns[data-ui~=inline] {

  display: block;

  width: auto;

}

.ui-btns[data-ui~=inline]:after,

.ui-btns[data-ui~=inline]:before {

  content: ' ';

  display: table;

}

.ui-btns[data-ui~=inline]:after {

  clear: both;

}

.ui-btns[data-ui~=inline] > .ui-btn {

  float: left;

}

.ui-btns[data-ui~=rounded] > .ui-btn:first-child {

  border-radius: 3px 0 0 3px;

}

.ui-btns[data-ui~=rounded] > .ui-btn:last-child {

  border-radius: 0 3px 3px 0;

}

.ui-bar {

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;

  -webkit-transform: translate3d(0, 0, 0);

          transform: translate3d(0, 0, 0);

  position: fixed;

  right: 0;

  left: 0;

  z-index: 10;

  width: 100%;

  height: 44px;

  padding: 8px 8px 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  -webkit-user-select: none;

      -ms-user-select: none;

          user-select: none;

  color: #444;

  background-color: rgba(248,248,248,0.95);

  border-width: 0;

  border-style: solid;

  border-top: 1px solid transparent;

  border-bottom: 1px solid #b2b2b2;

  -webkit-background-size: 0 0;

          background-size: 0;

}

@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 125dpi) {

  .ui-bar {

    border: none;

    background-image: -webkit-linear-gradient(90deg, #b2b2b2, #b2b2b2 50%, transparent 50%);

    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);

    background-position: bottom;

    -webkit-background-size: 100% 1px;

            background-size: 100% 1px;

    background-repeat: no-repeat;

  }

}

.ui-bar [data-ui~=title] {

  position: absolute;

  top: 0;

  right: 0;

  left: 0;

  z-index: 0;

  font-size: 1rem;

  line-height: 44px;

  text-align: center;

  font-weight: 700;

  margin: 0 10px;

  min-width: 30px;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;

}

.ui-bar [data-ui~=title] a {

  color: inherit;

}

.ui-bar[data-ui~=header] {

  top: 0;

  border-top-width: 0;

  border-bottom-width: 1px;

}

.ui-bar[data-ui~=footer] {

  bottom: 0;

  border-top-width: 1px;

  border-bottom-width: 0;

  background-position: top;

}

.ui-bar[data-ui~=subheader] {

  top: 44px;

  border-top-width: 0;

  border-bottom-width: 1px;

}

.ui-bar[data-ui~=subfooter] {

  bottom: 44px;

  border-top-width: 1px;

  border-bottom-width: 0;

  background-position: top;

}

.ui-bar[data-ui~=static] {

  position: static;

}

.ui-bar > .ui-btn,

.ui-bar > .ui-btns {

  z-index: 1;

}

.ui-bar .ui-btn {

  font-size: 0.875rem;

  padding: 0 6px;

  line-height: 26px;

  min-width: 28px;

  height: 28px;

  border-width: 1px;

}

.ui-bar .ui-btn > [class^=icon-] {

  font-size: 22px;

  width: 22px;

  line-height: 26px;

}

.ui-bar .ui-btn[data-ui~=icon-left] {

  padding-left: 28px;

}

.ui-bar .ui-btn[data-ui~=icon-left] > [class^=icon-] {

  position: absolute;

  top: 0;

  left: 4px;

}

.ui-bar .ui-btn[data-ui~=icon-right] {

  padding-right: 28px;

}

.ui-bar .ui-btn[data-ui~=icon-right] > [class^=icon-] {

  position: absolute;

  top: 0;

  right: 4px;

}

.ui-bar .ui-btn[data-ui~=icon-only] {

  padding: 0;

  font-size: 0;

}

.ui-bar [data-ui~=title] + .ui-btn:last-child,

.ui-bar > .ui-btn + .ui-btn:last-child,

.ui-bar [data-ui~=title] + .ui-btns:last-child,

.ui-bar > .ui-btns + .ui-btns:last-child,

.ui-bar > [data-ui~=pull-right] {

  position: absolute;

  top: 8px;

  right: 8px;

}

.ui-bar[data-ui~=primary] {

  background-color: #4a87ee;

  border-color: #145fd7;

  background-image: -webkit-linear-gradient(90deg, #145fd7, #145fd7 50%, transparent 50%);

  background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);

  color: #fff;

}

.ui-bar[data-ui~=primary] [data-ui~=title] {

  color: #fff;

}

.ui-bar[data-ui~=danger] {

  background-color: #ef4e3a;

  border-color: #cc2311;

  background-image: -webkit-linear-gradient(90deg, #cc2311, #cc2311 50%, transparent 50%);

  background-image: linear-gradient(0deg, #cc2311, #cc2311 50%, transparent 50%);

  color: #fff;

}

.ui-bar[data-ui~=danger] [data-ui~=title] {

  color: #fff;

}

.ui-bar[data-ui~=warning] {

  background-color: #f0b840;

  border-color: #d39211;

  background-image: -webkit-linear-gradient(90deg, #d39211, #d39211 50%, transparent 50%);

  background-image: linear-gradient(0deg, #d39211, #d39211 50%, transparent 50%);

  color: #fff;

}

.ui-bar[data-ui~=warning] [data-ui~=title] {

  color: #fff;

}

.ui-bar[data-ui~=success] {

  background-color: #6c3;

  border-color: #498f24;

  background-image: -webkit-linear-gradient(90deg, #498f24, #498f24 50%, transparent 50%);

  background-image: linear-gradient(0deg, #498f24, #498f24 50%, transparent 50%);

  color: #fff;

}

.ui-bar[data-ui~=success] [data-ui~=title] {

  color: #fff;

}

.ui-bar[data-ui~=header] {

  background-color: rgba(239,78,58,0.95);

  border-color: #cc2311;

  background-image: -webkit-linear-gradient(90deg, #cc2311, #cc2311 50%, transparent 50%);

  background-image: linear-gradient(0deg, #cc2311, #cc2311 50%, transparent 50%);

  color: #fff;

}

.ui-bar[data-ui~=header] [data-ui~=title] {

  color: #fff;

}

.ui-bar[data-ui~=header] [class~=icon-home] {

  font-size: 26px;

}

.ui-bar[data-ui~=footer] {

  padding: 0;

}

.ui-bar[data-ui~=footer] .ui-btn {

  font-size: 0.688rem;

  padding: 0 0;

  line-height: 44px;

  min-width: 44px;

  height: 44px;

  border-width: 0;

  color: #656970;

  border-color: transparent;

  background: transparent;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

  line-height: 24px;

}

.ui-bar[data-ui~=footer] .ui-btn:active,

.ui-bar[data-ui~=footer] .ui-btn[data-ui~=active] {

  color: #656970;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-bar[data-ui~=footer] .ui-btn:active,

.ui-bar[data-ui~=footer] .ui-btn[data-ui~=active] {

  color: #e93226;

}

.ui-bar[data-ui~=footer] .ui-btn[data-ui~=icon-top] {

  padding-top: 22px;

}

.ui-bar[data-ui~=footer] .ui-btn[data-ui~=icon-top] > [class^=icon-] {

  font-size: 22px;

  width: 22px;

  line-height: 22px;

  position: absolute;

  top: 4px;

  left: 50%;

  margin-left: -11px;

}

.ui-bar[data-ui~=subheader] {

  background-color: transparent;

  background-image: none;

  padding: 3px 1px;

  margin-top: 12px;

}

.ui-bar[data-ui~=subheader] .ui-btn {

  color: #90929a;

  border-color: #c2c3cb;

  background: transparent;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

  height: 38px;

  line-height: 38px;

  font-size: 0.875rem;

}

.ui-bar[data-ui~=subheader] .ui-btn:active,

.ui-bar[data-ui~=subheader] .ui-btn[data-ui~=active] {

  color: #90929a;

  border-color: #adaeb9;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.ui-bar[data-ui~=subheader] .ui-btn:active,

.ui-bar[data-ui~=subheader] .ui-btn[data-ui~=active] {

  color: #fff;

  border-color: #adaeb9;

  background: #adaeb9;

}

@font-face {

  font-family: 'h5passport';

  src: url("../images/icomoon.woff") format('woff'), url("../images/icomoon.ttf") format('truetype');

  font-weight: normal;

  font-style: normal;

}

[class^="icon-"],

[class*=" icon-"] {

  font-family: 'h5passport';

  speak: none;

  font-style: normal;

  font-weight: normal;

  font-variant: normal;

  text-transform: none;

  line-height: 1;

/* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}

input[type=radio] {

  display: none;

}

input[type=radio] + [class^=icon-]:before {

  content: "\e60d";

}

input[type=radio]:checked + [class^=icon-]:before {

  content: "\e60c";

}

.icon-happy:before {

  content: "\e61a";

}

.icon-phone2:before {

  content: "\e614";

}

.icon-404:before {

  content: "\e615";

}

.icon-500:before {

  content: "\e616";

}

.icon-ok:before {

  content: "\e617";

}

.icon-sad:before {

  content: "\e618";

}

.icon-spinner:before {

  content: "\e619";

}

.icon-camera:before {

  content: "\e612";

}

.icon-right:before {

  content: "\e613";

}

.icon-kf2:before {

  content: "\e60e";

}

.icon-bbs:before {

  content: "\e60f";

}

.icon-kf1:before {

  content: "\e610";

}

.icon-mail:before {

  content: "\e611";

}

.icon-check:before {

  content: "\e60c";

}

.icon-uncheck:before {

  content: "\e60d";

}

.icon-warn:before {

  content: "\e60b";

}

.icon-phone:before {

  content: "\e60a";

}

.icon-captcha:before {

  content: "\e609";

}

.icon-left:before {

  content: "\e608";

}

.icon-wx:before {

  content: "\e600";

}

.icon-qq:before {

  content: "\e601";

}

.icon-wb:before {

  content: "\e602";

}

.icon-pwd:before {

  content: "\e603";

}

.icon-user:before {

  content: "\e604";

}

.icon-help:before {

  content: "\e605";

}

.icon-close:before {

  content: "\e606";

}

.icon-home:before {

  content: "\e607";

}

form {





}

.form-group {

  position: relative;

}

.form-group[disabled],

.form-group[data-ui~=disabled] {

  display: none;

}

.form-group:not(:last-child) {

  margin-bottom: 12px;

}

.form-group > button {

  width: 100%;
  height: 55px;
  margin-top: 15px;

}

.form-group > button + .tips-simple {

  position: absolute;

  top: 100%;

  left: 0;

  width: 100%;

  font-size: 0.75rem;

  line-height: 1.5;

  text-align: center;

  color: #999;

  padding-top: 8px;

  padding-bottom: 8px;

}

.form-group > .ui-btn {



}

.form-group > label {

  float: left;

  margin-right: 8px;

  min-width: 60px;

  text-align: right;

  line-height: 40px;

  font-size: 0.875rem;

  color: #65676c;

  font-weight: 400;

}

.form-group > label + .input-group,

.form-group > label + .radio {

  overflow: hidden;

}

.input-group {

  position: relative;

  height: 58px;


  -webkit-box-sizing: border-box;

          box-sizing: border-box;

}

.input-group > input {

  -webkit-appearance: none;

  -webkit-tap-highlight-color: rgba(255,0,0,0);

  display: block;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  width: 100%;

  height: 100%;

  margin: 0;

  padding-top: 0;

  padding-bottom: 0;

  border-width: 1px;

  border-style: solid;

  border-color: #e5e5e5;


  color: #656970;

  font-size:1em;




}

.input-group > input:focus {

  -webkit-tap-highlight-color: rgba(255,255,255,0);

}

.input-group > input:focus,

.input-group > input:active {

  color: #656970;

}

.input-group > label {

  position: absolute;

  top: 2px;

  left: 6px;

  color: #999;

  z-index: 3;

  font-size: 0.75rem;

  line-height: 36px;

}

.input-group > label [class^=icon-] {

  font-size: 1.313rem;

  line-height: inherit;

  color: inherit;

}

.input-group > label + input,

.input-group > label + .text-group {

  padding-right: 31.5px;

  text-indent: 10px;
  border: solid 1px #CFC5C5;

}

.input-group > [class~=icon-close] {

  position: absolute;

  top: 50%;

  right: 8px;

  display: none;

  width: 16px;

  height: 16px;

  font-size: 16px;

  line-height: 1;

  margin-top: -8px;

}

.input-group.active > [class~=icon-close] {

  display: block;

}

.input-group.ksname > input {

  position: relative;

  z-index: 2;

  background-color: transparent;

  color: #ef4e3a;

}

.input-group.ksname:after {

  position: absolute;

  top: 0;

  right: 0;

  z-index: 1;

  width: 100%;

  height: 100%;

  line-height: 38px;

  border: 1px solid #f2f2f2;

  border-radius: 4px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: #fff;

  padding-right: 6px;

  font-size: 0.625rem;

  content: '鑷姩鍒嗛厤鐨勫笎鍙�,涔熷彲鑷繁濉啓';

  text-align: right;

  color: #b8b8b8;

}

.forgot {

  position: absolute;

  top: 4px;

  right: 2px;

  font-size: 0.875rem;

  line-height: 1.2;

  color: #a09d9d;

  text-decoration: none;

  height: auto;

  border-width: 0;

  padding-left: 20px !important;

  padding-right: 0 !important;

}

.forgot [class^=icon-] {

  font-size: 1rem;

  line-height: 1;

  left: 0 !important;

}

.checkbox {

  position: relative;

  padding: 4px;

  margin-bottom: 12px;

}

.checkbox > span,

.checkbox > label {

  display: inline-block;

  vertical-align: middle;

  font-size: 0.875rem;

  line-height: 1.2;

  color: #a09d9d;

}

.checkbox > span input[type=checkbox],

.checkbox > label input[type=checkbox] {

  float: left;

  margin-top: 2px;

  margin-right: 4px;

}

.radio {

  height: 38px;

  line-height: 38px;

}

.radio > label {

  display: inline-block;

  height: 100%;

  position: relative;

  padding-right: 6px;

  padding-left: 28px;

  font-size: 0.875rem;

  line-height: inherit;

  color: #656970;

}

.radio > label [class^=icon-] {

  position: absolute;

  top: 0;

  left: 4px;

  width: 20px;

  font-size: 1.25rem;

  line-height: 38px;

}

.radio > label input:checked + [class^=icon-],

.radio > label input:checked ~ em {

  color: #ef4e3a;

}

[data-ui~=check] {

  float: right;



  height: 40px;



  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  color: #a09d9d;

  text-align: center;

  vertical-align: middle;

  -webkit-user-select: none;

      -ms-user-select: none;

          user-select: none;

}

[data-ui~=check] + .input-group {

  display: block;

  overflow: hidden;

}

[data-ui~=check] em {

  display: block;

  height: 36px;

  font-size: 0.75rem;

  line-height: 36px;

  border-width: 1px;

  border-style: solid;

  border-color: #e5e5e5;

  border-radius: 4px;

  background-color: #fef2e2;

  color: #ff9e62;

  min-width: 115px;

}

[data-ui~=check]:active em,

[data-ui~=check][data-ui~=active] em {

  background-color: #eaeaea;

}

[data-ui~=check][disabled] em,

[data-ui~=check][data-ui~=disabled] em {

  background-color: #eaeaea;

  color: #b2b2b2;

}

[data-ui~=check] img {

  display: block;

  height: 36px;

  min-width: 115px;

  border-width: 1px;

  border-style: solid;

  border-color: #e5e5e5;

  border-radius: 4px;

  background-color: #fff;

}

.help-block {

  visibility: hidden;

  margin-bottom: 12px;

  padding-left: 4px;

}

.help-block .form-feedback [class^=icon-],

.help-block .form-feedback [class~= icon-] {

  float: left;

  margin-right: 4px;

  font-size: 1rem;

  color: #e93226;

}

.help-block .form-feedback span {

  display: block;

  overflow: hidden;

  font-size: 0.875rem;

  line-height: 1.2;

  color: #e93226;

}

.has-feedback .help-block {

  visibility: visible;

}

.has-success .help-block .form-feedback [class^=icon-],

.has-success .help-block .form-feedback [class~= icon-],

.has-success .help-block .form-feedback span {

  color: #11c844;

}

.text-group {

  margin-top: 1px;

  margin-bottom: 1px;

  overflow: hidden;

  height: 36px;

  line-height: 36px;

  border: 1px solid #e5e5e5;

  border-radius: 4px;

  padding-right: 6px;

  padding-left: 6px;

  color: #656970;

  background-color: #e5e5e5;

  font-size: 0.875rem;

}

.text-group .state[data-ui~=warning] {

  color: #ef4e3a;

}

.openid {

  padding: 12px 10px;

}

.openid .ui-btn {

  font-size: 0.688rem;

  padding: 0 0;

  line-height: 80px;

  min-width: 80px;

  height: 80px;

  border-width: 0;

  color: #656970;

  border-color: transparent;

  background: transparent;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

  line-height: 30px;

  font-weight: 400;

}

.openid .ui-btn > [class^=icon-] {

  font-size: 50px;

  width: 50px;

  line-height: 80px;

}

.openid .ui-btn[data-ui~=icon-left] {

  padding-left: 50px;

}

.openid .ui-btn[data-ui~=icon-left] > [class^=icon-] {

  position: absolute;

  top: 0;

  left: 0;

}

.openid .ui-btn[data-ui~=icon-right] {

  padding-right: 50px;

}

.openid .ui-btn[data-ui~=icon-right] > [class^=icon-] {

  position: absolute;

  top: 0;

  right: 0;

}

.openid .ui-btn[data-ui~=icon-only] {

  padding: 0;

  font-size: 0;

}

.openid .ui-btn:active,

.openid .ui-btn[data-ui~=active] {

  color: #656970;

  -webkit-background-clip: padding-box;

          background-clip: padding-box;

}

.openid .ui-btn:active,

.openid .ui-btn[data-ui~=active] {

  color: #e93226;

}

.openid .ui-btn [class^=icon-],

.openid .ui-btn [class~= icon-] {

  color: #e93226;

}

.openid .ui-btn[data-ui~=icon-top] {

  padding-top: 50px;

}

.openid .ui-btn[data-ui~=icon-top] > [class^=icon-] {

  font-size: 50px;

  width: 50px;

  line-height: 50px;

  position: absolute;

  top: 4px;

  left: 50%;

  margin-left: -25px;

}

.openid .ui-btn[data-ui~=blue] [class^=icon-] {

  color: #55aae3;

}

.openid .ui-btn[data-ui~=red] [class^=icon-] {

  color: #af2222;

}

.openid .ui-btn[data-ui~=green] [class^=icon-] {

  color: #11c844;

}

.separate {

  border-top: 1px solid #ddd;

  font-size: 0;

  margin-right: 10px;

  margin-left: 10px;

  text-align: center;

}

.separate > span {

  display: inline-block;

  padding-right: 6px;

  padding-left: 6px;

  height: 28px;

  margin-top: -14px;

  line-height: 28px;

  font-size: 0.875rem;

  font-weight: 400;

  background-color: #f2f2f2;

  color: #999;

}

.protocol h2 {

  padding-top: 12px;

  padding-bottom: 12px;

  font-size: 1.125rem;

  line-height: 1.8;

  font-weight: 600;

}

.protocol h3 {

  font-size: 1rem;

  line-height: 1.5;

  font-weight: 600;

  padding-top: 8px;

  padding-bottom: 8px;

}

.protocol h4 {

  font-size: 0.875rem;

  line-height: 1.5;

  font-weight: 600;

  padding-bottom: 8px;

}

.protocol dt {

  font-weight: 600;

  font-size: 0.875rem;

  line-height: 2;

}

.protocol dd {

  font-size: 0.875rem;

  line-height: 1.4;

  padding-left: 6px;

}

.protocol p {

  padding-left: 6px;

  font-size: 0.875rem;

  line-height: 1.4;

}

.protocol section:not(:last-child),

.protocol p:not(:last-child),

.protocol dd:not(:last-child) {

  margin-bottom: 10px;

}

.protocol ul {

  padding-left: 6px;

}

.protocol li {

  font-size: 0.875rem;

  line-height: 1.4;

}

.protocol li:not(:last-child) {

  margin-bottom: 6px;

}

.copyright {

  font-size: 0.75rem;

  font-weight: 400;

  line-height: 2;

  text-align: center;

}

.tips {

  padding-top: 20px;

  padding-bottom: 20px;

}

.tips .tips-simple {

  font-size: 0.75rem;

  line-height: 1.5;

  text-align: center;

  color: #999;

  padding-top: 8px;

  padding-bottom: 8px;

}

.tips .tips-inline {

  font-size: 0.75rem;

  line-height: 1.5;

  color: #f00;

  padding-top: 6px;

  padding-bottom: 6px;

}

.tips .tips-inline em:first-child {

  float: left;

}

.tips .tips-inline em:not(:first-child) {

  display: block;

  overflow: hidden;

}

.tips .tips-block {

  font-size: 0.75rem;

  line-height: 1.5;

  padding-top: 6px;

  padding-bottom: 6px;

}

.tips .tips-block dt {

  color: #f00;

}

.tips .tips-block dd {

  padding-left: 8px;

}

.tips .tips-block dd em {

  color: #ef4e3a;

  padding-right: 4px;

  padding-left: 4px;

}

.tips .emoticon {

  padding: 30px 40px;

  text-align: center;

}

.tips .emoticon [class^=icon-] {

  font-size: 800%;

  color: #ef4e3a;

}

.tips .emoticon > label {

  display: block;

  padding-top: 12px;

  padding-bottom: 12px;

  text-align: center;

  color: #444;

}

.tips .button {

  margin-top: 12px;

}

.tips .bind-phone {

  padding-right: 40px;

  padding-left: 40px;

  text-align: center;

}

.tips .bind-phone > span {

  position: relative;

  display: inline-block;

}

.tips .bind-phone > span > [class^=icon-] {

  font-size: 12.5rem;

  color: #ababab;

}

.tips .bind-phone > span .ok {

  position: absolute;

  right: 45px;

  bottom: 4px;

  width: 24px;

  height: 24px;

  line-height: 24px;

  border-radius: 12px;

  background-color: #05b300;

}

.tips .bind-phone > span .ok > [class^=icon-] {

  color: #fff;

  font-size: 1.125rem;

  line-height: 24px;

}

.tips .bind-phone > label {

  display: block;

  padding-top: 12px;

  padding-bottom: 12px;

  text-align: center;

  color: #444;

}

.kf {

  display: block;

  padding-top: 20px;

  padding-bottom: 12px;

  text-align: center;

  vertical-align: top;

}

.kf:not(:first-child) {

  padding-top: 0;

}

.kf .item {

  display: inline-block;

  width: 40%;

  min-width: 135px;

  max-width: 200px;

  height: 175px;

  overflow: hidden;

  border: 1px solid #ddd;

  padding-top: 20px;

  background-color: #fff;

  vertical-align: top;

}

.kf .item:first-child {

  margin-right: 10px;

}

.kf .item h2 {

  position: relative;

  padding-top: 60px;

  font-size: 1rem;

  height: 30px;

  lin-height: 30px;

  font-weight: 400;

}

.kf .item h2 [class^=icon-] {

  position: absolute;

  top: 0;

  left: 50%;

  width: 50px;

  font-size: 3.125rem;

  lin-height: 50px;

  margin-left: -25px;

}

.kf .item h2[data-ui~=color1] {

  color: #fb964b;

}

.kf .item h2[data-ui~=color2] {

  color: #fc8a8a;

}

.kf .item h2[data-ui~=color3] {

  color: #8ecfea;

}

.kf .item h2[data-ui~=color4] {

  color: #8da4f5;

}

.kf .item p {

  line-height: 1.5;

  color: #acaeb3;

  font-size: 0.875rem;

}

.kf .item p > a {

  color: #fb964b;

  text-decoration: none;

}

.about {

  color: #585555;

}

.about h2 {

  padding-top: 12px;

  padding-bottom: 12px;

  text-align: center;

  font-size: 1.125rem;

  line-height: 1.2;

  font-weight: 400;

}

.about h3,

.about h4 {

  font-weight: 400;

  line-height: 1.5;

  padding-top: 8px;

  padding-bottom: 8px;

}

.about h3 {

  color: #3fc63f;

  font-size: 1.438rem;

}

.about h4 {

  font-size: 1.063rem;

}

.about section {

  text-align: center;

}

.about section figure img {

  display: block;

  max-width: 100%;

  margin-right: auto;

  margin-left: auto;

}

.about p {

  font-size: 1.063rem;

  font-weight: 400;

  line-height: 1.8;

}

.about p > a {

  color: #0065c3;

  text-decoration: underline;

}

.modal {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 999;

  display: none;

}

.modal.open {

  display: block;

}

.modal .modal-backdrop {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 1;

  background-color: rgba(0,0,0,0.65);

}

.modal .modal-body {

  position: absolute;

  top: 25%;

  left: 50%;

  z-index: 2;

  width: 280px;

  margin-left: -140px;

  background-color: #fff;

  padding-right: 10px;

  padding-left: 10px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  border: 1px solid #ddd;

  border-radius: 4px;

}

.modal .modal-body h2 {

  font-size: 0.875rem;

  line-height: 1.2;

  padding-top: 12px;

  color: #2a8443;

}

.profile {

  margin-top: 10px;

  margin-bottom: 10px;

  background-color: #fff;

}

.profile:not(:first-child) {

  margin-top: 0;

}

.profile .item {

  position: relative;

  display: block;

  height: 50px;

  line-height: 50px;

  padding-right: 12px;

  padding-left: 12px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  text-decoration: none;

  color: #90929a;

}

.profile .item:active {

  background-color: #eee;

  color: #f90;

}

.profile .item:not(:last-child) {

  border-bottom: 1px solid #f1f1f1;

}

.profile .item > h2,

.profile .item > .title {

  font-size: 0.875rem;

  color: inherit;

}

.profile .item > h2 > [class^=icon-] {

  font-size: 1.375rem;

  line-height: 50px;

  float: left;

  margin-right: 6px;

}

.profile .item > .ui-btn {

  position: absolute;

  top: 3px;

  right: 0;

  border-color: transparent;

  font-size: 0.688rem;

  color: inherit;

}

.profile .item > .ui-btn [class^=icon-] {

  color: #bbb;

  font-size: 1rem;

}

.profile .item > .cover {

  position: absolute;

  top: 4px;

  right: 10px;

  height: 42px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  border: 1px solid #ddd;

  padding: 1px;

  border-radius: 4px;

}

.profile .item > .cover img {

  display: block;

  max-width: 100%;

  height: 100%;

  border-radius: 4px;

}

.profile .item > .cover .mark {

  position: absolute;

  right: 1px;

  bottom: 1px;

  border-radius: 4px;

  padding-right: 2px;

  padding-left: 2px;

  height: 16px;

  line-height: 1;

  color: #fff;

  background-color: rgba(228,30,135,0.55);

}

.avatar {

  margin-right: auto;

  margin-left: auto;

}

.avatar .present {

  padding-top: 38px;

  padding-bottom: 38px;

  margin-top: 12px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  text-align: center;

}

.avatar .present [data-ui~=avatar] {

  display: block;

  width: 100px;

  height: 100px;

  margin-right: auto;

  margin-bottom: 12px;

  margin-left: auto;

  border-radius: 4px;

  background-color: #fff;

  padding: 4px;

  border: 1px solid #ddd;

}

.avatar .replace {

  display: none;

}

.avatar .replace .clipper {

  width: 100%;

  margin: 12px auto;

  position: relative;

  background-color: rgba(0,0,0,0.3);

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

}

.avatar .replace .toolbar {

  text-align: center;

}

.avatar .replace .toolbar .picker {

  margin-right: 6px;

}

.avatar .replace .toolbar.has-error .feedback {

  display: block;

}

.avatar.upload .present {

  display: none;

}

.avatar.upload .replace {

  display: block;

}

.avatar [class=icon-spinner] {

  display: none;

}

.avatar.loading {

  position: relative;

}

.avatar.loading:after {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  z-index: 99;

  width: 100%;

  height: 100%;

  content: '';

  background-color: #f2f2f2;

  opacity: 0.4;

}

.avatar.loading [class=icon-spinner] {

  position: absolute;

  top: 40%;

  left: 50%;

  z-index: 100;

  display: block;

  margin-top: -12px;

  margin-left: -12px;

  height: 24px;

  width: 24px;

  font-size: 1.5rem;

  line-height: 24px;

  -webkit-animation: rotate 1s linear infinite;

          animation: rotate 1s linear infinite;

  color: #333;

}

.avatar .picker {

  position: relative;

  display: inline-block;

}

.avatar .picker input[type=file] {

  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  opacity: 0;

  width: 110px;

  height: 44px;

}

.avatar .feedback {

  color: #ef4e3a;

  text-align: left;

  margin-bottom: 6px;

  display: none;

}

.avatar .feedback:after,

.avatar .feedback:before {

  content: ' ';

  display: table;

}

.avatar .feedback:after {

  clear: both;

}

.avatar .feedback span {

  display: block;

  overflow: hidden;

  line-height: 1.5;

  font-size: 0.75rem;

}

.avatar .feedback [class^=icon-] {

  float: left;

  margin-top: 1px;

  font-size: 1.125rem;

}

@-webkit-keyframes rotate {

  0% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  100% {

    -webkit-transform: rotate(360deg);

            transform: rotate(360deg);

  }

}

@keyframes rotate {

  0% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  100% {

    -webkit-transform: rotate(360deg);

            transform: rotate(360deg);

  }

}

.login-quick {

  padding-top: 20px;

  padding-bottom: 20px;

  text-align: center;

  display: none;

}

.login-quick ~ form,

.login-quick ~ .openid {

  display: block;

}

.login-quick.open {

  display: block;

}

.login-quick.open ~ form,

.login-quick.open ~ .openid {

  display: none;

}

.login-quick .cover {

  width: 160px;

  height: 160px;

  margin: 12px auto;

  border-radius: 80px;

  border: 1px solid #ddd;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  -webkit-box-shadow: 1px 1px 3px #ddd;

          box-shadow: 1px 1px 3px #ddd;

  padding: 5px;

  background-color: #fff;

}

.login-quick .cover > img {

  display: block;

  width: 100%;

  border-radius: 74px;

}

.login-quick .btns {

  margin-top: 12px;

}

.login-quick .btns > a {

  padding-right: 20px;

  padding-left: 20px;

}

.login-quick .btns > [data-trigger=switch] {

  display: inline-block;

  border-radius: 3px;

  height: 44px;

  line-height: 44px;

  color: #0088da;

  -webkit-user-select: none;

      -ms-user-select: none;

          user-select: none;

  -webkit-transition: background-color 0.2s linear;

          transition: background-color 0.2s linear;

  text-decoration: none;

}

.login-quick .btns > [data-trigger=switch]:active {

  background-color: #ddd;

}

.login-quick .link {

  font-size: 0.875rem;

  line-height: 1.5;

  margin-top: 10%;

}

.login-quick .link > a {

  padding-right: 12px;

  padding-left: 12px;

  color: #08d;

  text-decoration: none;

}

.login-quick .link > a:active {

  color: #006db1;

}

.login-quick .link > a:not(:first-child) {

  position: relative;

}

.login-quick .link > a:not(:first-child):after {

  position: absolute;

  top: -4px;

  left: -2px;

  content: '|';

  font-size: 0.938rem;

  color: #999;

}

.login-quick > h2 {

  font-size: 1rem;

  line-height: 1.6;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;

  color: #444;

}

.login-quick > label {

  display: block;

  color: #999;

  font-size: 0.875rem;

  line-height: 1.6;

  margin-bottom: 12px;

}

.container {

  padding: 44px 12px;

}