.logo {
    width: 324px;
    height: 320px;
    background-image: url(../res/logo12.png);
}

.title {
    width: 301px;
    height: 59px;
    background-image: url(../res/title1.png);
}

.star {
    width: 27px;
    height: 25px;
    background-image: url(../res/star1.png);
}

.loadingbar {
    width: 366px;
    height: 7px;
    border-radius: 8px;
    background-color: #8c8c8c;
}

.loadingfill {
    height: 100%;
    border-radius: 8px;
    background-color: #10bcf0;
}

.ma {
    margin: auto;
}

.ib {
    display: inline-block;
}

.fullw {
    width: 100%;
}

.tc {
    text-align: center;
}

.fs22px {
    font-size: 22px;
}

.rotateC {
    -webkit-animation: rotateC 20s linear infinite;
}

.rotateCf {
    -webkit-animation: rotateC 2s linear infinite;
}

@-webkit-keyframes rotateC {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.tavernchangeitem {
    margin: 10px 21px;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}