.gray_title {
  padding-left: 14px;
  height: 35px;
  line-height: 35px;
  background-color: #EEEEEE;
  font-weight: 600;
  font-family: "宋体";
}
.gray_rect {
  height: 10px;
  background-color: #F1F1F1;
}
.header {
  height: 40px;
  margin: 0px;
  line-height: 40px;
  position: relative;
  background-color: #fff;
  border-bottom: 2px solid #EEEEEE;
}
.header > ul {
  margin: 0 10px;
}
.header > ul:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 400px) {
  .gray_title {
    height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
  }
  .header {
    height: 50px;
    line-height: 50px;
  }
  .header > ul {
    margin: 0px 10px;
  }
}
@media screen and (min-width: 500px) {
  .header {
    margin: 0px 10px;
  }
}
body {
  background-color: #e7eaef;
}
.header {
  background-color: #fff;
  margin: 0px 10px;
  padding-top: 10px;
  text-indent: 14px;
  line-height: 25px;
  height: 75px;
}
.header > h3.news_title {
  font-size: 2.2rem;
  font-weight: bold;
}
.header > p > span {
  color: #aaa;
}
.header > p > a {
  margin-left: 7px;
  color: #8698BB;
}
.text_intro {
  background-color: #fff;
  margin: 0px 10px;
  padding: 0px 10px;
  padding-top: 20px;
  line-height: 23px;
}
.text_intro > span {
  font-size: 1.4rem;
}
.img_box {
  background-color: #fff;
  margin: 0px 10px;
  padding: 28px 10px;
}
.img_box > img {
  width: 100%;
}
@media screen and (min-width: 400px) {
  .header {
    height: 95px;
  }
  .header > h3 {
    line-height: 32px;
  }
  .header > p {
    font-size: 1.3rem;
  }
  .text_intro {
    font-size: 1.5rem;
  }
}
