/*! Lofty v0.1 beta Classic http://lofty.fangdeng.org/ MIT*/

h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td {
	margin: 0;
	padding: 0
}


h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

address,cite,dfn,em,var {
	font-style: normal
}


small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

abbr[title],acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}

q:before,q:after {
	content: ''
}

:focus {
	outline: 0
}

legend {
	color: #000
}

fieldset,img {
	border: none
}

button,input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	border: none;
	height: 1px;
	*color: #fff
}

img {
	-ms-interpolation-mode: bicubic
}

.fd-left {
	float: left
}

.fd-right {
	float: right
}

.fd-clear {
	clear: both
}

.fd-clr {
	*zoom: 1
}

.fd-clr:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.fd-hide {
	display: none
}

.fd-show {
	display: block
}

.fd-locate {
	position: relative
}

.fd-cny {
	font-family: Helvetica,Arial
}

.fd-gray {
	color: #666
}

.fd-bold {
	font-weight: 700
}

.screen {
	width: 990px;
	margin: 0 auto;
	padding: 0 5px
}

#header,#content,#footer,.layout {
	*zoom: 1
}

#header:after,#content:after,#footer:after,.layout:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.layout .grid {
	float: left
}

.layout .grid-fixed {
	margin-right: 0!important
}

.w952 {
	width: 952px;
	margin: 0 auto;
	padding: 0 4px
}

a:hover {
	color: #ff7300
}

h1,h2,h3,h4 {
	font-weight: 700
}

a:hover,a:active {
	color: #ff7300!important
}

.layout-space {
	margin-top: 8px
}

.layout-space .layout {
	margin-bottom: 8px
}

.layout-fixed {
	margin-bottom: 0!important
}

.grid-right {
	float: right!important
}

.float-cancel {
	float: none!important
}

.last-col {
	margin-right: 0!important;
	padding-right: 0!important
}

.ms-yh {
	font-family: "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\6587\6CC9\9A7F\6B63\9ED1\4F53","\534E\6587\7EC6\9ED1",STHeiti;
	font-weight: 400
}

a.a-img,a.a-mix {
	display: inline-block;
	font-size: 0;
	line-height: 0
}

a.a-mix:hover,a.a-mix:active {
	text-decoration: none
}

a.a-mix img {
	margin-bottom: 2px
}

a.a-mix span,a.a-mix .description {
	display: block;
	font-size: 12px;
	line-height: 1.5
}

.list {
	zoom: 1
}

.list:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.list li {
	float: left
}

.list li li {
	float: none
}

.cell-header, {
	zoom: 1
}

.cell-header:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.cell-header .title,.cell-header li,.cell-header dt,.cell-header dd,.cell-tags li {
	float: left
}

.cell-header p,.cell-header ul,.cell-header dl {
	overflow: hidden;
	_display: inline-block
}

.cell-header .panel {
	float: right
}

.img-vertical {
	display: table;
	text-align: center;
	overflow: hidden;
	font-size: 0;
	*display: block;
	*layout-grid-line: 100%
}

.img-vertical .img-wrap {
	display: table-cell;
	vertical-align: middle;
	*display: inline;
	*writing-mode: tb-rl;
	*text-align: center;
	*height: 100%
}

.img-vertical img {
	vertical-align: middle
}

.cell-thumbnail {
	zoom: 1
}

.cell-thumbnail:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020"
}

.cell-thumbnail dt {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	margin-bottom: 2px
}

.cell-thumbnail dd {
	overflow: hidden;
	zoom: 1
}

.cell-thumbnail dt.side {
	float: left;
	_margin-right: -3px;
	margin-bottom: 0
}

.cell-thumbnail dt.wrap {
	overflow: visible;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.5
}

.screen {
	width: 1190px;
	margin: 0 auto
}

.layout .grid {
	width: 1190px;
	margin: 0 auto;
	float: none!important;
	*zoom: 1
}

.layout .grid:after,.layout .crazy-box-row:after {
	display: block;
	clear: both;
	height: 0;
	content: "\0020";
	overflow: hidden
}

.layout .box-1 {
	float: left;
	margin-right: 10px;
	width: 40px
}

.layout .box-2 {
	float: left;
	margin-right: 10px;
	width: 90px
}

.layout .box-3 {
	float: left;
	margin-right: 10px;
	width: 140px
}

.layout .box-4 {
	float: left;
	margin-right: 10px;
	width: 190px
}

.layout .box-5 {
	float: left;
	margin-right: 10px;
	width: 240px
}

.layout .box-6 {
	float: left;
	margin-right: 10px;
	width: 290px
}

.layout .box-7 {
	float: left;
	margin-right: 10px;
	width: 340px
}

.layout .box-8 {
	float: left;
	margin-right: 10px;
	width: 390px
}

.layout .box-9 {
	float: left;
	margin-right: 10px;
	width: 440px
}

.layout .box-10 {
	float: left;
	margin-right: 10px;
	width: 490px
}

.layout .box-11 {
	float: left;
	margin-right: 10px;
	width: 540px
}

.layout .box-12 {
	float: left;
	margin-right: 10px;
	width: 590px
}

.layout .box-13 {
	float: left;
	margin-right: 10px;
	width: 640px
}

.layout .box-14 {
	float: left;
	margin-right: 10px;
	width: 690px
}

.layout .box-15 {
	float: left;
	margin-right: 10px;
	width: 740px
}

.layout .box-16 {
	float: left;
	margin-right: 10px;
	width: 790px
}

.layout .box-17 {
	float: left;
	margin-right: 10px;
	width: 840px
}

.layout .box-18 {
	float: left;
	margin-right: 10px;
	width: 890px
}

.layout .box-19 {
	float: left;
	margin-right: 10px;
	width: 940px
}

.layout .box-20 {
	float: left;
	margin-right: 10px;
	width: 990px
}

.layout .box-21 {
	float: left;
	margin-right: 10px;
	width: 1040px
}

.layout .box-22 {
	float: left;
	margin-right: 10px;
	width: 1090px
}

.layout .box-23 {
	float: left;
	margin-right: 10px;
	width: 1140px
}

.layout .box-24 {
	float: left;
	width: 1190px
}

.layout .box-fixed {
	margin-right: 0!important
}

#ali-masthead-5i.w952 {
	width: 1190px
}

#alibar-v4 .alibar-container {
	width: 1190px!important
}

#doc {
	min-width: 1200px
}

.iepush-banner {
	background: #7dafd9 url(//cbu01.alicdn.com/cms/upload/2013/601/246/642106_823742341.png) repeat-x 0 0
}

.iepush-banner .iepush-b1 {
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-image: url(//cbu01.alicdn.com/cms/upload/2013/513/446/644315_823742341.png)
}

.iepush-banner .iepush-b2 {
	width: 990px;
	height: 97px;
	overflow: hidden;
	margin: 0 auto
}

.iepush-banner .iepush-content {
	position: relative;
	float: left;
	width: 966px;
	height: 97px;
	overflow: hidden;
	cursor: pointer
}

.iepush-banner .iepush-logo,.iepush-banner .iepush-car {
	background: transparent url(//cbu01.alicdn.com/cms/upload/2013/124/446/644421_823742341.png) no-repeat 0 0
}

.iepush-banner .iepush-logo {
	position: absolute;
	top: 16px;
	left: 526px;
	width: 74px;
	height: 48px;
	overflow: hidden;
	background-position: 0 -100px;
	+left: 309px;
	+top: 18px;
	+background-position: 0 -50px;
	_left: 60px;
	_background-position: 0 0
}

.iepush-banner .iepush-car {
	position: absolute;
	left: 40px;
	top: 72px;
	width: 98px;
	height: 29px;
	overflow: hidden;
	background-position: 0 -150px;
	_top: 70px;
	_background: transparent url(//cbu01.alicdn.com/cms/upload/2013/109/836/638901_823742341.png) no-repeat 30px 0
}

.iepush-banner .iepush-text {
	position: absolute;
	left: 605px;
	+left: 388px;
	_left: 139px;
	top: 13px;
	width: 0;
	height: 63px;
	overflow: hidden;
	background: transparent url(//cbu01.alicdn.com/cms/upload/2013/901/246/642109_823742341.png) no-repeat;
	font-size: 12px;
	line-height: 1.5;
	color: #558bb9
}

.iepush-banner .iepush-text-inner {
	width: 180px;
	overflow: hidden;
	margin: 3px 8px 0
}

.iepush-banner .iepush-cls {
	float: right;
	width: 21px;
	height: 21px;
	line-height: 21px;
	margin-top: 8px;
	font-size: 18px;
	font-family: Tahoma;
	text-align: center
}

.iepush-banner a:link,.iepush-banner a:visited {
	color: #74A9D3
}

.iepush-banner a:hover {
	color: #ff7300;
	text-decoration: none
}