@charset "UTF-8";
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);outline:0}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:baseline}
img{border:0 none;vertical-align:top}
i,em{font-style:normal}
ol,ul{list-style:none}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit}
table{border-collapse:collapse;border-spacing:0}
a,a:visited{text-decoration:none;color:#333}
body{margin:0 auto;min-width:320px;max-width:640px;height:100%;background:#f3f3f3;font-size:15px;font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;line-height:1.5;color:#666;-webkit-text-size-adjust:100% !important;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.hide,.h{display:none !important}
.show{display:block !important}


.wx_nav a:before{background-image:url(../images/img/mall/icon_nav_v2.png);background-repeat:no-repeat;background-size:207px 46px;-webkit-background-size:207px 46px}
.wx_nav{overflow:hidden;height:49px;border-top:1px solid #ddd;position:fixed;z-index:900;width:100%;bottom:0;left:0}
.wx_nav a{width:200px;height:45px;padding-top:4px;color:#999;font-size:12px;background-color:#eee;text-align:center}
.wx_nav a:before{width:23px;height:23px;content:'\20';display:block;margin:0 auto 2px auto}
.wx_nav a:active{background-color:#DFDFDF}
.wx_nav a:active,.wx_nav a.on{color:#e4393c}
.wx_nav a:active:before,.wx_nav a.on:before{background-position-y:-23px}
.wx_nav a.dot{position:relative}
.wx_nav a.dot:after{content:'';display:inline-block;width:7px;height:7px;background:#e4393c;border-radius:4px;position:absolute;top:5px;left:50%;margin-left:10px}
.wx_nav .nav_index:before{background-position:0 0}
.wx_nav .nav_search:before{background-position:-46px 0}
.wx_nav .nav_fav:before{background-position:-23px 0}
.wx_nav .nav_shopcart:before{background-position:-138px 0}
.wx_nav .nav_me:before{background-position:-69px 0}
.wx_nav .nav_newsfeed:before{background-position:-161px 0}
.wx_nav .nav_shopping_guide:before{background-position:-184px 0}

.wx_nav{display:box;display:-ms-box;display:-webkit-box;display:flex;display:-ms-flexbox;display:-webkit-flex}
.wx_nav a{display:block;flex:1;-ms-flex:1;-webkit-flex:1;box-flex:1;-ms-box-flex:1;-webkit-box-flex:1}

.my_menu,.my_links{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.my_menu ul,.my_links{display:box;display:-ms-box;display:-webkit-box;display:flex;display:-ms-flexbox;display:-webkit-flex}
.my_nav li,.my_menu a,.my_links a{display:block;flex:1;-ms-flex:1;-webkit-flex:1;box-flex:1;-ms-box-flex:1;-webkit-box-flex:1}
.my_menu li{display:block;flex:1;-ms-flex:1;-webkit-flex:1;box-flex:1;-ms-box-flex:1;-webkit-box-flex:1;padding:0px 20px}
.my_list a:before{position:absolute;top:50%;width:12px;height:12px;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;background:none}
.my_list a:before{margin-top:-6px;-ms-transform:rotate(135deg);transform:rotate(135deg);-webkit-transform:rotate(135deg)}
.my_user .name .text{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;color: #000000;}
.my_list a:before,.my_menu a:before,.my_list .new:after,.my_links .link_online:before,.my_links .link_tel:before{content:'\20';display:block}
.my_head{min-height:66px;margin-bottom:-1px}
.my_user{position: relative;display: block;min-height: 70px;padding: 20px 30px 5px 75px;overflow: hidden;font-size: 15px;border-bottom: 1px solid #ddd;color: #FFF;background-color: #FFF;}
.my_user .image{position:absolute;left:15px;top:20px;display:block;width:50px;height:50px;overflow:hidden;background:#dddddd url(../images/img/common/init_img.png) no-repeat;-webkit-background-size:50px 50px;background-size:50px 50px;border-radius:25px;-webkit-border-radius:25px}
.my_user .image img{display:block;width:50px;height:50px;border-radius:25px;-webkit-border-radius:25px}
.my_user .name{color:#333}
.my_user .name .tag{float:left;margin-right:5px;color:#999}
.my_user .des{margin-top:3px;color:#000000}
.my_user .des span{color:#e4393c;margin-right:3px}
.my_nav .my_menu{width:100%;background:#efefef}
.my_nav ul{padding:5px 0;overflow:hidden;margin-bottom:15px;background:#fff;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:12px;width:100%}
.my_menu ul{padding:10px 0;overflow:hidden;margin-bottom:5px;margin-top:5px;font-size:15px;width:100%}
.my_nav a,.my_menu a{position:relative;display:block;text-align:center;color:#666}
.my_nav a:after,.my_menu a:after{display:block;content:'\20';width:1px;height:100%;position:absolute;left:-1px;top:0;background:#efefef}
.my_nav span{display:block;color:#e4393c;font-size:14px}
.my_nav .disabled,.my_nav .disabled span{color:#ccc}
.my_menu a:before{width:25px;height:25px;margin:0 auto;background:url(../images/img/my/icon_my_v2_140725.png) no-repeat;-webkit-background-size:25px 125px;background-size:25px 125px}
.my_menu a span{position:absolute;left:55%;top:0;background:#e4393c;color:#fff;z-index:1;font-size:8px;min-width:8px;padding:0 2px;line-height:1.5em;border-radius:10px;-webkit-border-radius:10px}
.my_menu .menu_2:before{background-position:0 -25px}
.my_menu .menu_3:before{background-position:0 -50px}
.my_menu .menu_4:before{background-position:0 -75px}
.my_menu .menu_5:before{background-position:0 -100px}
.my_menu .tiao span{color:#47d600;}
.my_list{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.my_list li{height:45px;padding:0 10px;line-height:45px;background:#fff}
.my_list li.hr{height:15px;background:none;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.my_list li a img{vertical-align:middle;margin-left:15px;margin-right:25px}
.my_list a{position:relative;display:block;border-bottom:1px solid #ddd}
.my_list a:before{right:10px}
.my_list em{color:#999;margin-left:5px}
.my_list span{position:absolute;right:30px;font-size:15px;color:#c4c4c5}
.my_list .new span{right:45px}
.my_list .new:after{position:absolute;right:30px;top:20px;width:7px;height:7px;background:#e4393c;border-radius:20px;-webkit-border-radius:20px}
.my_list .highlight em,.my_list .highlight span{color:#e4393c}
.my_info{background:#fff;padding:10px;border-bottom:1px solid #ddd}
.my_info .total{margin:0 0 20px 10px;color:#e4393c;font-size:30px}
.my_info .total em{margin:0 5px;font-size:12px}
.my_info .text{margin-bottom:20px}
.my_links{margin:30px 10px;text-align:center}
.my_links a{display:block;font-size:12px;color:#666;text-align:center}